---
import BaseLayout from '../layouts/BaseLayout.astro'
import Prose from '../components/Prose.astro'
import { getCollection } from 'astro:content'
import type { CollectionEntry } from 'astro:content'
import { Badge } from '@/components/ui/badge'
import { buttonVariants } from '@/components/ui/button'
import { Icon } from 'astro-icon/components'
import { Image } from 'astro:assets'

interface Props {
  entry: CollectionEntry<'projects'>
}

export async function getStaticPaths() {
  const projects = await getCollection('projects')
  return projects.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry }
  }))
}

const { entry } = Astro.props
const { Content } = await entry.render()
---

<BaseLayout title={entry.data.title} topId={`project-${entry.slug}`}>
  <section
    class='prose-: container pb-24 pt-32 lg:py-36'
    id={`project-${entry.slug}`}
  >
    <Prose>
      <h1>{entry.data.title}</h1>
      <figure>
        <Image
          src={entry.data.wideImage}
          widths={[640, 800]}
          sizes={`(max-width: 1279px) 640px, (min-width: 1280px) 800px`}
          alt={`preview image of ${entry.data.title}`}
          class='aspect-video h-full w-full object-cover'
        />
        <figcaption class='text-center'>
          {`${entry.data.title}: ${entry.data.caption}`}
        </figcaption>
      </figure>
      <Content />
      <h3>Tools Used</h3>
      <ul class='not-prose flex flex-wrap gap-2'>
        {
          entry.data.tools.map((tool) => (
            <li>
              <Badge className='lg:text-base'>{tool}</Badge>
            </li>
          ))
        }
      </ul>
      <div
        class='not-prose flex flex-wrap items-center justify-center gap-4 pt-16 md:pt-24 lg:flex-nowrap'
      >
        <a
          href={entry.data.websiteURL}
          target='_blank'
          class={buttonVariants({ variant: 'default' }) + ' flex items-center'}
        >
          <span class='text-base'> View Website </span>
          <Icon name='website' />
        </a>

        <a
          href={entry.data.githubURL}
          target='_blank'
          class={buttonVariants({
            variant: 'outline'
          }) + ' flex items-center'}
        >
          <Icon name='github' />
          <span class='text-base'>Source Code</span>
        </a>
        {
          entry.data.videoURL && (
            <a
              href={entry.data.videoURL}
              target='_blank'
              class={buttonVariants({
                variant: 'outline'
              })}
            >
              <Icon name='watch' size={24} />
              <span class='text-base'>Watch Video</span>
            </a>
          )
        }
      </div>
    </Prose>
  </section>
</BaseLayout>
