    ---
import { Button } from "./ui/button"
import { Badge } from "@/components/ui/badge"


const projects = [
  {
    title: "name place animal thing",
    description:  "Game based on the classic name place animal thing game",
    imgUrl:"/images/projects/name-place.png",
    tools: ["JavaScript", "CSS", "HTML"],
    sourceCodeUrl:"https://github.com/FaizanAsifB/name-place-animal-game.git",
    url:"https://geega-game.netlify.app/"
  
  },
    {
      title: "budget app",
      description:  "Personal budget app",
      imgUrl:"/images/projects/budget.png",
      tools: ["JavaScript", "CSS", "HTML"],
      sourceCodeUrl:"https://github.com/FaizanAsifB/forkify-course-app.git",
      url:"https://geega-budget.netlify.app/"
    
    },
  {
    title: "forkify",
    description:  "Recipe searching webapp",
    imgUrl:"/images/projects/forkify.png",
    tools: ["JavaScript", "CSS", "HTML"],
    sourceCodeUrl:"https://github.com/FaizanAsifB/forkify-course-app.git",
    url:"https://geega-forkify.netlify.app/"
  
  },
{
  title: "weather app",
  description:  "An app that shows the weather",
  imgUrl:"/images/projects/weather.png",
  tools: ["JavaScript", "CSS", "HTML"],
  sourceCodeUrl:"https://github.com/FaizanAsifB/weather-app.git",
  url:"https://geega-weather.netlify.app/"
},
{
  title: "space tourism website",
  description:  "A website for a space tourism company",
  imgUrl:"/images/projects/space.png",
  tools: ["JavaScript", "CSS", "HTML"],
  sourceCodeUrl:"https://github.com/FaizanAsifB/frontend-mentor-space-tourism.git",
  url:"https://geega-space-tourism.netlify.app/"

},
]
    ---
    
    <section class="" id="projects">
      <div class="container space-y-16">
        <h2>Projects</h2>
        <ul class="space-y-24">
          {projects.map(project => (
            <li class="flex even:flex-row-reverse rounded-lg gap-12">
              <a href={project.url} target="_blank" class="w-[50%]">
                <img
                src={project.imgUrl}
                alt={`preview image of ${project.title}`}
                class="object-cover  h-full w-full rounded-lg"
                />
              </a>
              <div class="flex-1 space-y-6">
                <h3 class="capitalize">{project.title}</h3>
                <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Et voluptate expedita cum. Incidunt minus totam id nihil quisquam est iste omnis ipsum error, reiciendis reprehenderit velit deleniti, voluptate, modi dolore.</p>
                <div class="space-x-2">{project.tools.map(tool => <Badge variant="outline">{tool}</Badge>)}</div>
                <div>
                  <Button asChild variant={"default"}><a href={project.url} target="_blank">Live App</a></Button>
                  <Button asChild variant={"default"}><a href={project.sourceCodeUrl} target="_blank">Source Code</a></Button>
                  </div>
                </div>
            </li>
          ))}
        </ul>
      </div>
    </section>
