---
import { Badge } from '@/components/ui/badge'
import { buttonVariants } from '@/components/ui/button'
import { Icon } from 'astro-icon/components'
import type { CollectionEntry } from 'astro:content'
import { cn } from '@/lib/utils'
import ProjectAnimation from './animations/project-animation'
import { Image } from 'astro:assets'
interface Props {
  project: CollectionEntry<'projects'>
  isEven: boolean
}

const { project, isEven } = Astro.props

const attribution: { text: string; url: string; urlText: string } =
  project.data.attribution && Object.assign({}, ...project.data.attribution)
---

<ProjectAnimation client:load isEven={isEven} client:load>
  <div
    class={cn(
      'gap-8 md:gap-10 rounded-lg bg-background shadow-lg lg:flex lg:space-y-0 md:h-full lg:h-auto flex flex-col lg:flex-row hover:scale-[1.02] xl:gap-12',
      isEven ? 'lg:flex-row-reverse' : ''
    )}
  >
    <div class='lg:w-[450px] lgx:w-[500px] xl:w-[600px]'>
      <a href={project.data.websiteURL} target='_blank'>
        <picture>
          <source
            srcset={project.data.squareImage.src}
            media='(min-width: 1024px) and (max-width: 1159px)'
          />
          <source
            srcset={project.data.narrowImage.src}
            media='(min-width: 1280px)'
          />
          <Image
            src={project.data.wideImage}
            widths={[450, 500, 600, 700]}
            sizes={`(min-width: 120px) 700px, (min-width: 1024px) 450px,  (min-width: 1160px) 500px, (min-width: 1280px) 600px`}
            alt={`preview image of ${project.data.title}`}
            class='aspect-video h-full w-full rounded-t-lg object-cover object-top brightness-90 md:aspect-[4/3] lg:aspect-square lg:rounded-lg lg:object-center lgx:aspect-[4/3]'
          />
        </picture>
      </a>
    </div>

    <article
      class={cn(
        'flex flex-1 flex-col  px-4 pb-6 md:px-6 md:pb-8 lg:p-10  xl:p-12',
        isEven ? 'lg:pr-0 xl:pr-0' : 'lg:pl-0 xl:pl-0'
      )}
    >
      <h3 class='text-nowrap capitalize'>{project.data.title}</h3>
      <div class='mt-6'>
        <div class='relative'>
          <p>
            {project.data.description}
          </p>
          {
            project.data.attribution && (
              <small class='mt-1 flex items-center gap-1 text-muted-foreground'>
                {attribution.text}

                <a
                  href={attribution.url}
                  target='_blank'
                  class='flex items-center gap-1 text-primary'
                >
                  {attribution.urlText}
                  <Icon name='external-link' size={12} />
                </a>
              </small>
            )
          }
        </div>

        <a
          href={project.slug}
          class={buttonVariants({
            variant: 'link',
            size: 'auto',
            className: 'mt-2'
          })}>Read the case study &rarr;</a
        >
      </div>
      <div class='mt-8 flex md:flex-1'>
        <div class='mt-auto flex flex-wrap gap-2'>
          {project.data.tools.map((tool: string) => <Badge>{tool}</Badge>)}
        </div>
      </div>
      <div class='mt-8 flex flex-col'>
        <div
          class='flex flex-wrap items-center justify-center gap-4 md:mt-auto lg:flex-nowrap lg:justify-start'
        >
          <a
            href={project.data.websiteURL}
            target='_blank'
            class={buttonVariants({
              variant: 'link',
              size: 'auto'
            })}
          >
            <span class='text-base'> View Website </span>
            <Icon name='website' />
          </a>

          <a
            href={project.data.githubURL}
            target='_blank'
            class={buttonVariants({
              variant: 'outline'
            })}
          >
            <Icon name='github' size={24} />
            <span class='text-base'>Source Code</span>
          </a>

          {
            project.data.videoURL && (
              <a
                href={project.data.videoURL}
                target='_blank'
                class={buttonVariants({
                  variant: 'outline',
                  className: 'w-full lg:w-auto'
                })}
              >
                <Icon name='watch' size={24} />
                <span class='text-base'>Watch Video</span>
              </a>
            )
          }
        </div>
      </div>
    </article>
  </div>
</ProjectAnimation>
