    ---
const projects = [
  {
    title: "name place animal thing game",
    description:  "Game based on the classic name place animal thing game",
    imgUrl:"/images/projects/name-place.png",
    tools: ["JavaScript", "CSS", "HTML"],
    url:"https://geega-game.netlify.app/"
  
  },
    {
      title: "budget app",
      description:  "Personal budget app",
      imgUrl:"/images/projects/budget.png",
      tools: ["JavaScript", "CSS", "HTML"],
      url:"https://geega-budget.netlify.app/"
    
    },
  {
    title: "forkify",
    description:  "Recipe searching webapp",
    imgUrl:"/images/projects/forkify.png",
    tools: ["JavaScript", "CSS", "HTML"],
    url:"https://geega-forkify.netlify.app/"
  
  },
{
  title: "weather app",
  description:  "An app that shows the weather",
  imgUrl:"/images/projects/weather.png",
  tools: ["JavaScript", "CSS", "HTML"],
  url:"https://geega-weather.netlify.app/"
},
{
  title: "space tourism website",
  description:  "An website for a space tourism company",
  imgUrl:"/images/projects/space.png",
  tools: ["JavaScript", "CSS", "HTML"],
  url:"https://geega-space-tourism.netlify.app/"

},
]
    ---
    
    <section class="bg-secondary">
      <div class="container">
        <h2>Projects</h2>
        <ul class="">
          {projects.map(project => (
            <li>
              <a href={project.url} target="_blank"><img
                src={project.imgUrl}
                alt={`preview image of ${project.title}`}
                class="h-24"
              /></a>
              <p>{project.title}</p>
              <p>{project.tools.map(tool => <span>{tool}</span>)}</p>
            </li>
          ))}
        </ul>
      </div>
    </section>
