---
import { Badge } from "@/components/ui/badge";
import { buttonVariants } from "@/components/ui/button";

const projects = [
  {
    title: "name place animal thing",
    description: "Game based on the classic name place animal thing game",
    imgUrl: "/images/projects/name-place.png",
    tools: ["HTML", "CSS", "React", "TypeScript", "Firebase", "Tailwind"],
    sourceCodeUrl: "https://github.com/FaizanAsifB/name-place-animal-game.git",
    url: "https://geega-game.netlify.app/",
  },
  {
    title: "budget app",
    description: "Personal budget app",
    imgUrl: "/images/projects/budget.png",
    tools: ["HTML", "CSS", "JavaScript"],
    sourceCodeUrl: "https://github.com/FaizanAsifB/forkify-course-app.git",
    url: "https://geega-budget.netlify.app/",
  },
  {
    title: "forkify",
    description: "Recipe searching webapp",
    imgUrl: "/images/projects/forkify.png",
    tools: ["HTML", "CSS", "JavaScript"],
    sourceCodeUrl: "https://github.com/FaizanAsifB/forkify-course-app.git",
    url: "https://geega-forkify.netlify.app/",
  },
  {
    title: "weather app",
    description: "An app that shows the weather",
    imgUrl: "/images/projects/weather.png",
    tools: ["HTML", "CSS", "JavaScript"],
    sourceCodeUrl: "https://github.com/FaizanAsifB/weather-app.git",
    url: "https://geega-weather.netlify.app/",
  },
  {
    title: "space tourism website",
    description: "A website for a space tourism company",
    imgUrl: "/images/projects/space.png",
    tools: ["HTML", "CSS", "JavaScript"],
    sourceCodeUrl:
      "https://github.com/FaizanAsifB/frontend-mentor-space-tourism.git",
    url: "https://geega-space-tourism.netlify.app/",
  },
];
---

<section id="projects">
  <div class="container space-y-16">
    <h2>My Projects</h2>
    <ul class="space-y-24">
      {
        projects.map((project) => (
          <li class="flex even:flex-row-reverse bg-background odd:shadow-[inset_6px_0_0_hsl(var(--primary))] even:shadow-[inset_-6px_0_0_hsl(var(--primary))]">
            <a
              href={project.url}
              target="_blank"
              class="w-[45%] h-[350px] m-16"
            >
              <img
                loading="lazy"
                src={project.imgUrl}
                alt={`preview image of ${project.title}`}
                class="object-cover h-full w-full rounded-lg brightness-90"
              />
            </a>
            <div class="flex-1 flex flex-col justify-center space-y-8 px-8">
              <h3 class="capitalize">{project.title}</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Et
                voluptate expedita cum. Incidunt minus totam id nihil quisquam
                est iste omnis ipsum error, reiciendis reprehenderit velit
                deleniti, voluptate, modi dolore.
              </p>
              <div class="space-x-2">
                {project.tools.map((tool) => (
                  <Badge>{tool}</Badge>
                ))}
              </div>
              <div class="flex items-center gap-4">
                <a
                  href={project.url}
                  target="_blank"
                  class={buttonVariants({ variant: "default" })}
                >
                  <span class="text-base"> View Website </span>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="18"
                    height="18"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="lucide lucide-external-link ml-1"
                    aria-hidden="true"
                  >
                    <>
                      <path d="M15 3h6v6" />
                      <path d="M10 14 21 3" />
                      <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6" />
                    </>
                  </svg>
                </a>

                <a
                  href={project.sourceCodeUrl}
                  target="_blank"
                  class={buttonVariants({
                    variant: "outline",
                  })}
                >
                  <svg
                    width="24px"
                    height="24px"
                    viewBox="0 0 16 16"
                    class="mr-2"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M7.976 0A7.977 7.977 0 000 7.976c0 3.522 2.3 6.507 5.431 7.584.392.049.538-.196.538-.392v-1.37c-2.201.49-2.69-1.076-2.69-1.076-.343-.93-.881-1.175-.881-1.175-.734-.489.048-.489.048-.489.783.049 1.224.832 1.224.832.734 1.223 1.859.88 2.3.685.048-.538.293-.88.489-1.076-1.762-.196-3.621-.881-3.621-3.964 0-.88.293-1.566.832-2.153-.05-.147-.343-.978.098-2.055 0 0 .685-.196 2.201.832.636-.196 1.322-.245 2.007-.245s1.37.098 2.006.245c1.517-1.027 2.202-.832 2.202-.832.44 1.077.146 1.908.097 2.104a3.16 3.16 0 01.832 2.153c0 3.083-1.86 3.719-3.62 3.915.293.244.538.733.538 1.467v2.202c0 .196.146.44.538.392A7.984 7.984 0 0016 7.976C15.951 3.572 12.38 0 7.976 0z"
                      fill="currentColor"
                    />
                  </svg>
                  <span class="text-base">Source Code</span>
                </a>
              </div>
            </div>
          </li>
        ))
      }
    </ul>
  </div>
</section>
