---
import { Badge } from '@/components/ui/badge'
import { buttonVariants } from '@/components/ui/button'
import type { CollectionEntry } from 'astro:content'
interface Props {
  project: CollectionEntry<'project'>
}

const { project } = Astro.props
---

<!-- lg:odd:shadow-[inset_4px_0_0_hsl(var(--primary))] lg:even:shadow-[inset_-4px_0_0_hsl(var(--primary))] -->
<li
  class='gap-16 space-y-12 rounded-lg bg-background
          shadow-lg
           even:flex-row-reverse lg:space-y-0 xl:flex'
>
  <div class='mx-auto h-[400px] lg:w-[640px]'>
    <a href={project.data.liveURL} target='_blank'>
      <img
        loading='lazy'
        src={project.data.thumbnail}
        alt={`preview image of ${project.data.title}`}
        class='h-full w-full rounded-t-lg object-cover brightness-90 lg:rounded-lg'
      />
    </a>
  </div>
  <article
    class='flex flex-1 flex-col justify-center space-y-8 px-4 pb-6 lg:p-0'
  >
    <h3 class='capitalize'>{project.data.title}</h3>
    <p>
      {project.data.description}
      <a href={project.slug} class='text-primary underline'>Continue Reading</a>
    </p>
    <div class='flex flex-wrap gap-2'>
      {project.data.tools.map((tool: string) => <Badge>{tool}</Badge>)}
    </div>
    <div class='flex items-center gap-4'>
      <a
        href={project.data.liveURL}
        target='_blank'
        class={buttonVariants({ variant: 'default' })}
      >
        <span class='text-base'> View Website </span>
        <svg
          xmlns='http://www.w3.org/2000/svg'
          width='18'
          height='18'
          viewBox='0 0 24 24'
          fill='none'
          stroke='currentColor'
          stroke-width='2'
          stroke-linecap='round'
          stroke-linejoin='round'
          class='lucide lucide-external-link ml-1'
          aria-hidden='true'
        >
          <>
            <path d='M15 3h6v6'></path>
            <path d='M10 14 21 3'></path>
            <path d='M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6'
            ></path>
          </>
        </svg>
      </a>

      <a
        href={project.data.githubURL}
        target='_blank'
        class={buttonVariants({
          variant: 'outline'
        })}
      >
        <svg
          width='24px'
          height='24px'
          viewBox='0 0 16 16'
          class='mr-2'
          xmlns='http://www.w3.org/2000/svg'
        >
          <path
            fill-rule='evenodd'
            clip-rule='evenodd'
            d='M7.976 0A7.977 7.977 0 000 7.976c0 3.522 2.3 6.507 5.431 7.584.392.049.538-.196.538-.392v-1.37c-2.201.49-2.69-1.076-2.69-1.076-.343-.93-.881-1.175-.881-1.175-.734-.489.048-.489.048-.489.783.049 1.224.832 1.224.832.734 1.223 1.859.88 2.3.685.048-.538.293-.88.489-1.076-1.762-.196-3.621-.881-3.621-3.964 0-.88.293-1.566.832-2.153-.05-.147-.343-.978.098-2.055 0 0 .685-.196 2.201.832.636-.196 1.322-.245 2.007-.245s1.37.098 2.006.245c1.517-1.027 2.202-.832 2.202-.832.44 1.077.146 1.908.097 2.104a3.16 3.16 0 01.832 2.153c0 3.083-1.86 3.719-3.62 3.915.293.244.538.733.538 1.467v2.202c0 .196.146.44.538.392A7.984 7.984 0 0016 7.976C15.951 3.572 12.38 0 7.976 0z'
            fill='currentColor'></path>
        </svg>
        <span class='text-base'>Source Code</span>
      </a>
    </div>
  </article>
</li>
